<p>Exercice 5 - Les pipes</p>

<p>1. {{ dateCreation | date }}</p>
<p>2. {{ dateCreation | date: 'longDate' }}</p>

<p>3. {{ title | uppercase }}</p>
<p>4. {{ title | lowercase }}</p>

<p>5. {{ dateCreation | date | uppercase }}</p>

<p>6. {{ 5896954.458875 | number: '1.0-0' }}</p>
<p>7. {{ 5896954.458875 | number: '1.0-1' }}</p>
<p>8. {{ 0.458875 | number: '1.0-1' }}</p>
