.exercice {
    display: flex;
    align-items: center;
    gap: 50px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.emoji {
    font-size: 50px;
}

.red {
    color: red;
}

.box {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid red;

    &.good {
        border: 3px solid green;
    }
}