<p>Exercice 4 - Les directives Angular</p>

<div class="exercice">
    <p>1. ngIf</p>
    <button mat-raised-button color="primary" (click)="valeur = !valeur">
        {{ valeur ? "Désactiver" : "Activer" }}
    </button>
    <div class="emoji" *ngIf="!valeur">🙈</div>
    <div class="emoji" *ngIf="valeur">🐵</div>
</div>


<div class="exercice">
    <p>2. ngFor</p>
    <!-- code ici-->
    <ng-container *ngFor="let nombre of nombres" class="red">{{ nombre.nombre +  " - " }}</ng-container>
</div>

<div class="exercice">
    <p>3. ngSwitch</p>
    <button mat-raised-button color="primary" (click)="changerCouleur()">
        Changer la couleur
    </button>
    <div [ngSwitch]="couleur">
        <div class="emoji" *ngSwitchCase="'rouge'">🔴</div>
        <div class="emoji" *ngSwitchCase="'vert'">🟢</div>
        <div class="emoji" *ngSwitchCase="'bleu'">🔵</div>
    </div>
</div>

<div class="exercice">
    <p>4. Property binding des éléments du DOM - Class</p>
    <div class="box" [class.good]="condition">{{ condition }}</div>
</div>

<div class="exercice">
    <p>5. Property binding des éléments du DOM - Style</p>
    <div class="box" [style.border-color]="condition ? 'green' : 'red'">{{ condition }}</div>
</div>

<div class="exercice">
    <p>6. Two-way binding : ngModel</p>
    <input type="email" [(ngModel)]="email" name="email">
    {{ "votre email est : " + email }}
</div>
